.footer {
  background-color: var(--color-light-grey);
  font-size: 0.8rem;
  text-align: center;
}

.footer p {
  margin-bottom: 1em;
}

@media (min-width: 720px) {
  .footer {
    margin-bottom: 0;
    text-align: left;
  }

  .footer p {
    margin-bottom: 0;
  }
}
