.hero {
  background: var(--color-light-grey);
  text-align: center;
}

.content {
  width: 100%;
}

.title {
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 0.5rem;
}

.wave {
  margin-top: -2vw;
}

@media (min-width: 973px) {
  .content {
    width: 100%;
  }
}
