.container {
  display: flex;
  justify-content: space-evenly;
  max-width: 40rem !important;
  margin-top: 1rem;
}

.icon {
  text-align: center;
  z-index: 2;
}
.icon svg {
  width: 55%;
  height: auto;
  max-width: 2.5rem;
}

@media (min-width: 720px) {
  .container {
    margin-bottom: 0;
    margin-top: 0.25rem;
  }
}
