.hero {
  display: flex;
  align-items: center;
  margin: 0 -1rem;
  background-color: #ebf8ff;
  padding: 0 1rem 1rem;
}

.image {
  width: 35%;
}
.image img {
  border-radius: 50%;
  border: 1px solid #dcf3fd !important;
  background-color: #f2faff;
}

.content {
  width: 64%;
  margin-left: 2%;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.text {
  text-align: justify start;
}
