.topics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -7rem;
  margin-bottom: 1rem;
}
.topic {
  display: block;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--box-shadow);
  background-color: var(--color-bg);
  transition: color 0.3s, transform 0.3s !important;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.topic:last-child {
  margin-bottom: 0;
}

@media (min-width: 720px) {
  .topic {
    width: 32%;
    margin-bottom: 1rem;
  }
}
