.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem 1.25rem 1rem;
  background-color: #ebf8ff;
  max-width: 40rem !important;
  margin: 0 auto;
}

.icon {
  text-align: center;
}
.icon svg {
  width: 55%;
  height: auto;
  max-width: 2.5rem;
}
